
.slider_wrapper{
  overflow: hidden;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height:280px;
  top:auto;

}
#image_slider{
    height: 240px;
  width: 320px;
  position: relative;
  list-style: none;
  overflow: hidden;
  float: left;
  /*Chrom default padding for ul is 40px */
  padding:0px;
  margin:0px;
}
#image_slider li{
    height: 240px;
  width: 320px;
  
  float: left;
}
.nvgt{
  position:absolute;
  top: 100px;
  height: 50px;
  width: 30px;
  opacity: 0.6;
}
.nvgt:hover{
  opacity: 0.9;
}
#prev{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
  left: 0px;
}
#next{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
  right: 0px;
}

@media screen and (min-width: 350px) {
    .slider_wrapper{
        width:320px;
    }
}
@media screen and (min-width: 700px) {
    .slider_wrapper{
        width:640px;
    }
}
@media screen and (min-width: 768px) {
    .slider_wrapper{
        width:320px;
    }
}
@media screen and (min-width: 920px) {
    .slider_wrapper{
        width:640px;
    }
}
@media screen and (min-width: 1350px) {
    .slider_wrapper{
        width:960px;
    }
}
